{% include 'pageMacros.html' %}
{% include 'components/nav.html' %}
{# This serves as our base template; it is rendered inside of the 'apos-refreshable' class in outerLayout.html. #}
{# This is where we declare the main blocks that our layout is composed of, e.g. header, main, footer, etc. #}
{# Depending on your needs this is where you would create blocks that you can hook into from other templates, #}
{# e.g. the extraBreadcrumbs block within the breadcrumbs block. #}

{# DO NOT REMOVE THESE COMMENTS. We parse these for outerLayout and refresh operations #}
<!-- APOS-BODY-CLASS {% block bodyClass %}{% endblock %} -->
<!-- APOS-TITLE {% block title %}{% endblock %} -->
<!-- APOS-EXTRA-HEAD {% block extraHead %}{% endblock %} -->
<!-- APOS-SEO-DESCRIPTION {% block seoDescription %}{% endblock %} -->
{% block header %}

{{ nav(page, {classes: ''}) }}

{% endblock %}

{% block main %}
{% endblock %}



{% block footer %}
<footer>
  <div class="container">
    <div class="row">
  		<div class="col-lg-8 col-lg-offset-2">
  		    {{ aposArea(global, 'footerTopCenter', {
            controls: ['gallery', 'files', 'html',"HorizontalRule", 'style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'buttons', 'video','insertTable', 'embed', 'pullquote',  'insertUnorderedList','JustifyLeft','JustifyCenter','JustifyRight', 'justify'],
                          styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h2', label: 'Heading 2' },
                            { value: 'h3', label: 'Heading 3' },
                            { value: 'h5', label: 'Heading 5' }
                          ]
          }) }}
  		</div>
  		<div class="col-lg-2"> 
  		
  			<br />
  			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" target="_top">
  			<input type="hidden" name="cmd" value="_s-xclick">
  			<input type="hidden" name="hosted_button_id" value="ZQ7AXGP4AH82S">
  			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  			</form>
  		</div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
                
		    {{ aposArea(global, 'footerBottomCenter', {
         controls: ['gallery', 'files', 'html',"HorizontalRule", 'style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'buttons', 'video','insertTable', 'embed', 'pullquote',  'insertUnorderedList','JustifyLeft','JustifyCenter','JustifyRight', 'justify'],
                          styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h2', label: 'Heading 2' },
                            { value: 'h3', label: 'Heading 3' },
                            { value: 'h5', label: 'Heading 5' }
                          ]
        }) }}
         </div>
         <div class="col-lg-2">
		    {{ aposArea(global, 'footerBottomRight', {
         controls: ['gallery', 'files', 'html',"HorizontalRule", 'style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'buttons', 'video','insertTable', 'embed', 'pullquote',  'insertUnorderedList','JustifyLeft','JustifyCenter','JustifyRight', 'justify'],
                          styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h2', label: 'Heading 2' },
                            { value: 'h3', label: 'Heading 3' },
                            { value: 'h5', label: 'Heading 5' }
                          ]
        }) }}
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
