locales/
dump/
npm-debug.log
public/uploads
public/apos-minified
temp/uploadfs
node_modules
# This folder is created on the fly and contains symlinks updated at startup (we'll come up with a Windows solution that actually copies things)
public/modules
# We don't commit CSS, only LESS
# Don't commit masters generated on the fly at startup, these import all the rest
public/css/master-*.less
.jshintrc
public/js/_site-compiled.js
#data/   push this folder bacaouse local.js has no more secret values, but just redirect it form .env file.
config/
.env

_dump/
