{% macro nav(page, options) %}
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	  <div class="" style="text-align:center">
		<a class="brandimage" href="/"><img style="max-height:100px" src="/images/taadas-logo-white.png"></a>
		<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
		    <li>
		    	{% if not page.ancestors.length %}
		    		<a href="/" class="active">{{ page.title }}</a>
		    	{% else %}
		      	<a href="{{ page.ancestors[0].url }}" {% if page.slug == '/' %}class="active"{% endif %}>{{ page.ancestors[0].title }}</a>
		      {% endif %}
		    </li>
		    {% for item in page.tabs %}
		    	{{ normalizeNavItem(item) }}
		    	<!-- if no children -->
		    	{% if item.children.length > 0 %}
		      	<li class="dropdown">
					<a class="dropdown-toggle nav-type-{{ item.type }} visible-xs-block" data-toggle="dropdown">{{ item.title }} <b class="caret"></b></a>
					<a {% if item.target %}target="{{item.target}}" {% endif %} href="{{ item.url }}" class="dropdown-toggle nav-type-{{ item.type }} hidden-xs" data-toggle_disabled="dropdown">{{ item.title }} <b class="caret"></b></a>
	                    <ul class="dropdown-menu">
	                    	<li>
	                    		<a {% if item.target %}target="{{item.target}}" {% endif %} class="nav-type-{{ item.type }}"  href="{{ item.url }}">{{ item.title }}</a>
	                    	</li>
			        		{% for sitem in item.children %}
			        		{{ normalizeNavItem(sitem) }}
			        		<li>
	                            <a {% if sitem.target %}target="{{sitem.target}}" {% endif %}class="nav-type-{{ sitem.type }}" href="{{ sitem.url }}">{{ sitem.title }}</a>
	                        </li>
	                    	{% endfor %}
			        	</ul>
			    </li>
		      	{% else %}
		      	<li>
		        	<a {% if item.target %}target="{{item.target}}" {% endif %} href="{{ item.url }}" {% if page.slug == item.slug %}class="active nav-type-{{ item.type }}"{% endif %}>{{ item.title }}</a>
		      	</li>
		      {% endif %}
		    {% endfor %}
		  </ul>
	  	</div>
	  </div>
{% if page.slug != '/renew-membership' %}
{{ checkMembership(user) }}
{% endif %}

<!--[if lt IE 11]>
	<div class="row"><div class="col-lg-12" style="background:#fff;color:#fff;padding:8px;font-weight:bold;text-align:center"><a style="color:#7030a0" href="https://www.google.com/chrome/"><i class="fa4 fa4-alert"></i> Your browser seems to be out of date, for the best experience update to a newer version or remove TAADAS.org from compatibility view.</a></div></div>
<![endif]-->
	</nav>
{% endmacro %}