{% macro nav(page, options) %}
	<nav style="position:relative" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	  <div class="container" style="text-align:center">
		<a class="brandimage" href="/"><img src="/images/taadas-logo-white.png" style="height:100px;margin-top:15px;"></a>
		<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
		    <li>
		    	{% if not page.ancestors.length %}
		    		<a href="/" class="active">{{ page.title }}</a>
		    	{% else %}
		      	<a href="{{ page.ancestors[0].url }}" {% if page.slug == '/' %}class="active"{% endif %}>{{ page.ancestors[0].title }}</a>
		      {% endif %}
		    </li>
		    {% for item in page.tabs %}
		    	{{ normalizeNavItem(item) }}
		    	<!-- if no children -->
		    	{% if item.children.length > 0 %}
		      	<li class="dropdown">
					<a {% if item.target %}target="{{item.target}}" {% endif %} href="{{ item.url }}" class="dropdown-toggle nav-type-{{ item.type }}" data-toggle_disabled="dropdown">{{ item.title }} <b class="caret"></b></a>
	                    <ul class="dropdown-menu">
	                    	<li>
	                    		<a {% if item.target %}target="{{item.target}}" {% endif %} class="nav-type-{{ item.type }}"  href="{{ item.url }}">{{ item.title }}</a>
	                    	</li>
			        		{% for sitem in item.children %}
			        		{{ normalizeNavItem(sitem) }}
			        		<li>
	                            <a {% if sitem.target %}target="{{sitem.target}}" {% endif %}class="nav-type-{{ sitem.type }}" href="{{ sitem.url }}">{{ sitem.title }}</a>
	                        </li>
	                    	{% endfor %}
			        	</ul>
			    </li>
		      	{% else %}
		      	<li>
		        	<a {% if item.target %}target="{{item.target}}" {% endif %} href="{{ item.url }}" {% if page.slug == item.slug %}class="active nav-type-{{ item.type }}"{% endif %}>{{ item.title }}</a>
		      	</li>
		      {% endif %}
		    {% endfor %}
		  </ul>
	  	</div>
	  </div>
	</nav>
{% endmacro %}