{% extends "layout.html" %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}
{% block main %}



    

    <!-- Page Content -->
    <div class="container">


        <!-- Content Row -->
        <div class="row">
    			<div class="col-md-12">
    			     {{ aposArea(page, 'aboutus', {
                          controls: editorFullControlls(),
                          styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h3', label: 'Heading 3' }
    
                          ]
                        }) }}
    			</div>
			</div>
			<div class="row">
			<!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                {{ aposArea(page, 'mapplace', {
                  controls: editorFullControlls(),
                  styles: [
                    { value: 'p', label: 'Text' },
                    { value: 'h1', label: 'Heading 1' },
                    { value: 'h3', label: 'Heading 3' }

                  ]
                }) }}
            </div>
			<!-- Contact Details Column -->
            <div class="col-md-4">
                {{ aposArea(page, 'details', {
                      controls: editorFullControlls(),
                      styles: [
                        { value: 'p', label: 'Text' },
                        { value: 'h1', label: 'Heading 1' },
                        { value: 'h3', label: 'Heading 3' }

                      ]
                }) }}
            </div>
			
		</div>
        <!-- /.row -->
		
        <hr>


    </div>
{% endblock %}
