{% extends "layout.html" %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}
{% block main %}
            

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
       {{ aposArea(page, 'header', {
          controls: editorFullControlls(),
          styles: [
            { value: 'p', label: 'Text' },
            { value: 'h1', label: 'Heading 1' },
            { value: 'h3', label: 'Heading 3' }

          ]
        }) }}
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
               {{ aposArea(page, 'body1', {
                      controls: editorFullControlls(),
                  styles: [
                    { value: 'p', label: 'Text' },
                    { value: 'h1', label: 'Heading 1' },
                    { value: 'h3', label: 'Heading 3' }

                  ]
                }) }}
            </div>
            <div class="col-md-6 img-portfolio">
                {{ aposArea(page, 'body2', {
                      controls: editorFullControlls(),
                  styles: [
                    { value: 'p', label: 'Text' },
                    { value: 'h1', label: 'Heading 1' },
                    { value: 'h3', label: 'Heading 3' }

                  ]
                }) }}
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                {{ aposArea(page, 'body3', {
                      controls: editorFullControlls(),
                  styles: [
                    { value: 'p', label: 'Text' },
                    { value: 'h1', label: 'Heading 1' },
                    { value: 'h3', label: 'Heading 3' }

                  ]
                }) }}
            </div>
            <div class="col-md-6 img-portfolio">
                {{ aposArea(page, 'body4', {
                      controls: editorFullControlls(),
                  styles: [
                    { value: 'p', label: 'Text' },
                    { value: 'h1', label: 'Heading 1' },
                    { value: 'h3', label: 'Heading 3' }

                  ]
                }) }}
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                {{ aposArea(page, 'body5', {
                      controls: editorFullControlls(),
                  styles: [
                    { value: 'p', label: 'Text' },
                    { value: 'h1', label: 'Heading 1' },
                    { value: 'h3', label: 'Heading 3' }

                  ]
                }) }}
            </div>
            <div class="col-md-6 img-portfolio">
               {{ aposArea(page, 'body6', {
                      controls: editorFullControlls(),
                  styles: [
                    { value: 'p', label: 'Text' },
                    { value: 'h1', label: 'Heading 1' },
                    { value: 'h3', label: 'Heading 3' }

                  ]
                }) }}
            </div>
        </div>
        <!-- /.row -->

        <hr>
	</div>

{% endblock %}