{% extends "layout.html" %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}
{% block main %}


    

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Donate Now
                    <br /><small>Join us</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Donate Now</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

		<!-- Image Header -->
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="http://placehold.it/1200x300" alt="">
            </div>
        </div>
        <!-- /.row -->
		
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-6 col-sm-12">
				<div class="panel-default text-left">
					<div class="panel-body">
                        {{ aposArea(page, 'donateinfo', { textOnly: true }) }}
                    </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="panel-default text-left">
					<div class="panel-body">
						<h4>Select An Amount</h4>
                        <div style="display: inline" class="radio">
							<label><input type="radio" name="frequency">One-Time Donation</label>
						</div>
						<div style="display: inline; padding-left: 50px" class="radio">
							<label><input type="radio" name="frequency">Recurring Donation</label>
						</div>
						<br /><br />
						<div style="display: inline" class="radio">
							<label><input type="radio" name="amount">50$</label>
						</div>
						<div style="display: inline; padding-left: 50px" class="radio">
							<label><input type="radio" name="amount">75$</label>
						</div>
						<div style="display: inline; padding-left: 50px" class="radio">
							<label><input type="radio" name="amount">100$</label>
						</div>
						<div style="display: inline; padding-left: 50px" class="radio">
							<label><input type="radio" name="amount">250$</label>
						</div>
						<div style="display: inline; padding-left: 50px" class="radio">
							<label><input type="radio" name="amount">500$</label>
						</div>
						<br />
						<div style="display: inline" class="radio">
							<label style="display: inline"><input style="display: inline" type="radio" name="amount">Other</label>
						</div>
						<br />
						<hr>
						<h4>Your Information</h4>
						Full Name:
                            <input type="text" style="margin-bottom:20px" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
						Address:
                            <input type="text" style="margin-bottom:20px" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
							<input type="text" style="margin-bottom:20px" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
						<div class="row">
							<div class="col-lg-4">City: 
								<input type="text" style="margin-bottom:20px" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
							</div>
							<div class="col-lg-4">State/Province: 
								<input type="text" style="margin-bottom:20px" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
							</div>
							<div class="col-lg-4">Zip/Postal Code: 
								<input type="text" style="margin-bottom:20px" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
							</div>
						</div>
						Country:
                            <input type="text" style="margin-bottom:20px" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
						Email:
                            <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
						<span style="font-size:10px; font-style:italic">Your receipt will be emailed here</span>
						<hr>
						<h4>Credit Card Information</h4>
						Card Type:
							<input type="text" style="margin-bottom:20px" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
						<div class="row">
							<div class="col-lg-5">Card Number:
								<input type="text" style="margin-bottom:20px" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
							</div>
							<div class="col-lg-2" style="padding-right:1px">Expires:
								<input type="text" style="margin-bottom:20px" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
							</div>
							<div class="col-lg-2" style="padding-left:0px">
								<input type="text" style="margin-bottom:20px; margin-top:20px" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
							</div>
							<div class="col-lg-3">Security Code:
								<input type="text" style="margin-bottom:20px" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
							</div>
						</div>
						<a href="#" class="btn btn-primary">Submit</a>
                    </div>
				</div>
			</div>
        </div>
        <!-- /.row -->

        <hr>



    </div>


{% endblock %}
