{% extends "layout.html" %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}
{% block main %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Events
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-3">
                <iframe  src="https://www.eventbrite.com/calendar-widget?eid=21684469833" frameborder="0" height="550" width="250" marginheight="0" marginwidth="20" allowtransparency="true"></iframe>
            </div>
            <!-- Content Column -->
            <div class="col-md-9">
				{{ aposArea(page, 'body1', {
                      controls: editorFullControlls(),
                      styles: [
                        { value: 'p', label: 'Text' },
                        { value: 'h1', label: 'Heading 1' },
                        { value: 'h3', label: 'Heading 3' }

                      ]
                    }) }}
            </div>
        </div>
        <!-- /.row -->
		<hr>
	</div>

{% endblock %}