{% extends "layout.html" %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}

{% block header %}
	{{ super() }}
<header>
    <img src="images/header.jpg" id="header-image"></div>
</header>
  
{% endblock %}
{% block main %}
  <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header text-center">
                    
                    {{ aposArea(page, 'pheader', {
                      controls: ['gallery', 'files', 'html',"HorizontalRule", 'style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'buttons', 'video','insertTable', 'embed', 'pullquote',  'insertUnorderedList','JustifyLeft','JustifyCenter','JustifyRight', 'justify'],
                      styles: [
                        { value: 'p', label: 'Text' },
                        { value: 'h1', label: 'Heading 1' },
                        { value: 'h2', label: 'Heading 2' },
                        { value: 'h3', label: 'Heading 3' },
                        { value: 'h5', label: 'Heading 5' }
                      ]
                    }) }}
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="panel panel-default noborder">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-calendar fa-inverse"></i> Training Calendar</h4>
                    </div>
                    <div class="panel-body">
						 <iframe  src="https://www.eventbrite.com/calendar-widget?eid=21684469833" frameborder="0" height="500" width="250" marginheight="0" marginwidth="20" allowtransparency="true"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-pencil fa-inverse"></i> Advocacy News</h4>
                    </div>
                    <div class="panel-body">
                        {{ aposArea(page, 'home_2', {
                          controls: ['gallery', 'files', 'html',"HorizontalRule", 'style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'buttons', 'video','insertTable', 'embed', 'pullquote',  'insertUnorderedList','JustifyLeft','JustifyCenter','JustifyRight', 'justify'],
                          styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h2', label: 'Heading 2' },
                            { value: 'h3', label: 'Heading 3' },
                            { value: 'h5', label: 'Heading 5' }
                          ]
                        }) }}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-exclamation fa-inverse"></i> Announcements</h4>
                    </div>
                    <div class="panel-body">
                         {{ aposArea(page, 'home_3', {
                          controls: ['gallery', 'files', 'html',"HorizontalRule", 'style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'buttons', 'video','insertTable', 'embed', 'pullquote',  'insertUnorderedList','JustifyLeft','JustifyCenter','JustifyRight', 'justify'],
                          styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h2', label: 'Heading 2' },
                            { value: 'h3', label: 'Heading 3' },
                            { value: 'h5', label: 'Heading 5' }
                          ]
                        }) }}
                    </div>
                </div>
            </div>
			<div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-legal fa-inverse"></i> Legislative Agenda</h4>
                    </div>
                    <div class="panel-body">
                        {{ aposArea(page, 'home_4', {
                          controls: ['gallery', 'files', 'html',"HorizontalRule", 'style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'buttons', 'video','insertTable', 'embed', 'pullquote',  'insertUnorderedList','JustifyLeft','JustifyCenter','JustifyRight', 'justify'],
                          styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h2', label: 'Heading 2' },
                            { value: 'h3', label: 'Heading 3' },
                            { value: 'h5', label: 'Heading 5' }
                          ]
                        }) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header text-center">
                    
                    {{ aposArea(page, 'pheader2', {
                      controls: ['gallery', 'files', 'html',"HorizontalRule", 'style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'buttons', 'video','insertTable', 'embed', 'pullquote',  'insertUnorderedList','JustifyLeft','JustifyCenter','JustifyRight', 'justify'],
                      styles: [
                        { value: 'p', label: 'Text' },
                        { value: 'h1', label: 'Heading 1' },
                        { value: 'h2', label: 'Heading 2' },
                        { value: 'h3', label: 'Heading 3' },
                        { value: 'h5', label: 'Heading 5' }
                      ]
                    }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock1', {
                    controls: ['arrayOfBoxes', 'gallery', 'html',"HorizontalRule", 'style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'buttons', 'video','insertTable', 'embed', 'pullquote',  'insertUnorderedList','JustifyLeft','JustifyCenter','JustifyRight', 'justify'],
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h2', label: 'Heading 2' },
                            { value: 'h3', label: 'Heading 3' },
                            { value: 'h5', label: 'Heading 5' }
                          ]
                    })
                }}
                </div>
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock2', {
             
                    controls: ['arrayOfBoxes', 'gallery', 'html',"HorizontalRule", 'style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'buttons', 'video','insertTable', 'embed', 'pullquote',  'insertUnorderedList','JustifyLeft','JustifyCenter','JustifyRight', 'justify'],
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h2', label: 'Heading 2' },
                            { value: 'h3', label: 'Heading 3' },
                            { value: 'h5', label: 'Heading 5' }
                          ]
                    })
                }}
                </div>
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock3', {
             
                    controls: ['arrayOfBoxes', 'gallery', 'html',"HorizontalRule", 'style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'buttons', 'video','insertTable', 'embed', 'pullquote',  'insertUnorderedList','JustifyLeft','JustifyCenter','JustifyRight', 'justify'],
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h2', label: 'Heading 2' },
                            { value: 'h3', label: 'Heading 3' },
                            { value: 'h5', label: 'Heading 5' }
                          ]
                    })
                }}
                </div>
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock4', {
                    controls: ['arrayOfBoxes', 'gallery', 'html',"HorizontalRule", 'style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'buttons', 'video','insertTable', 'embed', 'pullquote',  'insertUnorderedList','JustifyLeft','JustifyCenter','JustifyRight', 'justify'],
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h2', label: 'Heading 2' },
                            { value: 'h3', label: 'Heading 3' },
                            { value: 'h5', label: 'Heading 5' }
                          ]
                    })
                }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock5', {
             
                    controls: ['arrayOfBoxes', 'gallery', 'html',"HorizontalRule", 'style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'buttons', 'video','insertTable', 'embed', 'pullquote',  'insertUnorderedList','JustifyLeft','JustifyCenter','JustifyRight', 'justify'],
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h2', label: 'Heading 2' },
                            { value: 'h3', label: 'Heading 3' },
                            { value: 'h5', label: 'Heading 5' }
                          ]
                    })
                }}
                </div>
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock6', {
             
                    controls: ['arrayOfBoxes', 'gallery', 'html',"HorizontalRule", 'style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'buttons', 'video','insertTable', 'embed', 'pullquote',  'insertUnorderedList','JustifyLeft','JustifyCenter','JustifyRight', 'justify'],
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h2', label: 'Heading 2' },
                            { value: 'h3', label: 'Heading 3' },
                            { value: 'h5', label: 'Heading 5' }
                          ]
                    })
                }}
                </div>
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock7', {
                     
                    controls: ['arrayOfBoxes', 'gallery', 'html',"HorizontalRule", 'style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'buttons', 'video','insertTable', 'embed', 'pullquote',  'insertUnorderedList','JustifyLeft','JustifyCenter','JustifyRight', 'justify'],
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h2', label: 'Heading 2' },
                            { value: 'h3', label: 'Heading 3' },
                            { value: 'h5', label: 'Heading 5' }
                          ]
                    })
                }}
                </div>
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock8', {
             
                    controls: ['arrayOfBoxes', 'gallery', 'html',"HorizontalRule", 'style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'buttons', 'video','insertTable', 'embed', 'pullquote',  'insertUnorderedList','JustifyLeft','JustifyCenter','JustifyRight', 'justify'],
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h2', label: 'Heading 2' },
                            { value: 'h3', label: 'Heading 3' },
                            { value: 'h5', label: 'Heading 5' }
                          ]
                    })
                }}
                </div>   
            </div>
            </div>

        </div>
        <!-- /.row -->

        

        <hr>
    <!-- Page Content -->
{% endblock %}