{% extends "layout.html" %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}
{% block main %}



    

    <!-- Page Content -->
    <div class="container">
		<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Free DVD Library
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Free DVD Library</li>
                </ol>
            </div>
        </div>
		<div id="pagearea">
		
		</div>
		<ul id="pagination-demo" class="pagination-sm"></ul>


    </div>
	<script type="text/javascript">
		$(document).ready(function() {
			$.getJSON('/apos/browse-files', function(results) {
				var files = results.files;
				var filepath = apos.filePath(files[0]);
			var pagehtml = "";
			var dvdlist = apos.data.dvdData;
			var len = dvdlist.length;
			var pagesnum = Math.ceil(len / 18);
			$('#pagination-demo').twbsPagination({
				totalPages: pagesnum,
				visiblePages: 7,
				onPageClick: function (event, page) {
					var htmltext = "";
					htmltext += '<div class="row">';
					for(var i = ((page-1) * 18) + 1; i < len && i < (page * 18) + 1; i++){
						var filtered = [];
						filtered = files.filter(function (element) {
							return element._id == dvdlist[i].thumbnail.items[0].ids[0];
						});
						filepath = apos.filePath(filtered[0]);
						htmltext += '<div class="col-md-4 img-portfolio"><a href="portfolio-item.html"><img height="700" width="400" class="img-responsive img-hover" src="' + filepath + '" alt=""></a><h3><a href="portfolio-item.html">';
						htmltext += dvdlist[i].title + '</a></h3><p>' + dvdlist[i].body + '</p></div>'
					}
					htmltext += '</div>';
					$('#pagearea').html(htmltext);
				}
			});
			});
		});
	</script>
{% endblock %}
