{% extends "layout.html" %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}

{% block header %}
	{{ super() }}
<header class='apos-fillw-image' style="position:relative;min-height:450px">
        {{ aposSingleton(page, 'header', 'slideshow', { filter: false, limit: 1 }) }}
        
        <div class="anouncment-box hide-if-empty">
            {{ aposArea(page, 'pheaderanounces', {
              controls: editorFullControlls(),
              styles: [
                { value: 'p', label: 'Text' },
                { value: 'h1', label: 'Heading 1' },
                { value: 'h3', label: 'Heading 3' }
              ]
            }) }}
        </div>
</header>
  
{% endblock %}
{% block main %}
  <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    
                    {{ aposArea(page, 'pheader', {
                      controls: editorFullControlls(),
                      styles: [
                        { value: 'p', label: 'Text' },
                        { value: 'h1', label: 'Heading 1' },
                        { value: 'h3', label: 'Heading 3' }

                      ]
                    }) }}
                </div>
            </div>
       </div>

<!-- Image Header -->
        <div class="row">
			<div class="col-lg-3 col-md-3 col-sm-4">
				
				{{ aposArea(page, 'body1', {
                  controls: editorFullControlls(),
                  styles: [
                    { value: 'p', label: 'Text' },
                    { value: 'h1', label: 'Heading 1' },
                    { value: 'h3', label: 'Heading 3' }
                  ]
                }) }}
			</div>
			
			 <div class="col-sm-8 apos-fillw-image hidden-lg">
                
                   {{ aposArea(page, 'header2', {
                      controls: editorFullControlls(),
                      styles: [
                        { value: 'p', label: 'Text' },
                        { value: 'h1', label: 'Heading 1' },
                        { value: 'h3', label: 'Heading 3' }
                      ]
                    }) }}
             </div>    
			<div class="clearfix visible-xs-block visible-sm-block visible-md-block"></div>
            <div class="col-lg-9 apos-fillw-image ">
                
                <div class="hidden-md hidden-sm hidden-xs">
                    {{ aposArea(page, 'header2', {
                      controls: editorFullControlls(),
                      styles: [
                        { value: 'p', label: 'Text' },
                        { value: 'h1', label: 'Heading 1' },
                        { value: 'h3', label: 'Heading 3' }
                      ]
                    }) }}
                </div>    
                    
                 <div class="row" style="margin-top:15px">
        			<div class="col-lg-6 col-md-6">
        				{{ aposArea(page, 'body2', {
                          controls: editorFullControlls(),
                          styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h3', label: 'Heading 3' }
                          ]
                        }) }}
        			</div>
                    <div class="col-lg-6 col-md-6">
                        {{ aposArea(page, 'body3', {
                          controls: editorFullControlls(),
                          styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h3', label: 'Heading 3' }
                          ]
                        }) }}
                    </div>
                </div>
                 
            </div>
        </div>
        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    
                    {{ aposArea(page, 'pheader2', {
                      controls: editorFullControlls(),
                      styles: [
                        { value: 'p', label: 'Text' },
                        { value: 'h1', label: 'Heading 1' },
                        { value: 'h3', label: 'Heading 3' }
                      ]
                    }) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
            {{ aposArea(page, 'linkblock1', {
                controls: editorFullControlls(),
                styles: [
                        { value: 'p', label: 'Text' },
                        { value: 'h1', label: 'Heading 1' },
                        { value: 'h3', label: 'Heading 3' }
                      ]
                })
            }}
            </div>
            <div class="col-lg-3 text-center">
            {{ aposArea(page, 'linkblock2', {
         
                controls: editorFullControlls(),
                styles: [
                        { value: 'p', label: 'Text' },
                        { value: 'h1', label: 'Heading 1' },
                        { value: 'h3', label: 'Heading 3' }
                      ]
                })
            }}
            </div>
            <div class="col-lg-3 text-center">
            {{ aposArea(page, 'linkblock3', {
         
                controls: editorFullControlls(),
                styles: [
                        { value: 'p', label: 'Text' },
                        { value: 'h1', label: 'Heading 1' },
                        { value: 'h3', label: 'Heading 3' }
                      ]
                })
            }}
            </div>
            <div class="col-lg-3 text-center">
            {{ aposArea(page, 'linkblock4', {
                controls: editorFullControlls(),
                styles: [
                        { value: 'p', label: 'Text' },
                        { value: 'h1', label: 'Heading 1' },
                        { value: 'h3', label: 'Heading 3' }
                      ]
                })
            }}
            </div>
        </div>
        <div class="row">
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock5', {
             
                    controls: editorFullControlls(),
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h3', label: 'Heading 3' }
                          ]
                    })
                }}
                </div>
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock6', {
             
                    controls: editorFullControlls(),
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h3', label: 'Heading 3' }
                          ]
                    })
                }}
                </div>
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock7', {
                     
                    controls: editorFullControlls(),
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h3', label: 'Heading 3' }
                          ]
                    })
                }}
                </div>
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock8', {
             
                    controls: editorFullControlls(),
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h3', label: 'Heading 3' }
                          ]
                    })
                }}
                </div>   
            </div>

   </div>     
        <!-- /.row -->

    <!-- Page Content -->
{% endblock %}