{% extends "layout.html" %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}

{% block header %}
	{{ super() }}
<header class='apos-fillw-image'>
    {{ aposSingleton(page, 'header', 'slideshow', { filter: false, limit: 1 }) }}
</header>
  
{% endblock %}
{% block main %}
  <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header text-center">
                    
                    {{ aposArea(page, 'pheader', {
                      controls: editorFullControlls(),
                      styles: [
                        { value: 'p', label: 'Text' },
                        { value: 'h1', label: 'Heading 1' },
                        { value: 'h3', label: 'Heading 3' }

                      ]
                    }) }}
                </div>
            </div>

            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ aposSingleton(page, 'rowheader1', 'iconAndText') }}
                    </div>
                    <div class="panel-body">
                        {{ aposArea(page, 'home_2', {
                          controls:editorFullControlls(),
                          styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h3', label: 'Heading 3' }
                          ]
                        }) }}
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ aposSingleton(page, 'rowheader2', 'iconAndText') }}
                    </div>
                    <div class="panel-body">
                         {{ aposArea(page, 'home_3', {
                          controls: editorFullControlls(),
                          styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h3', label: 'Heading 3' }
                          ]
                        }) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    
                    {{ aposArea(page, 'pheader2', {
                      controls: editorFullControlls(),
                      styles: [
                        { value: 'p', label: 'Text' },
                        { value: 'h1', label: 'Heading 1' },
                        { value: 'h3', label: 'Heading 3' }
                      ]
                    }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock1', {
                    controls: editorFullControlls(),
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h3', label: 'Heading 3' }
                          ]
                    })
                }}
                </div>
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock2', {
             
                    controls: editorFullControlls(),
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h3', label: 'Heading 3' }
                          ]
                    })
                }}
                </div>
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock3', {
             
                    controls: editorFullControlls(),
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h3', label: 'Heading 3' }
                          ]
                    })
                }}
                </div>
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock4', {
                    controls: editorFullControlls(),
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h3', label: 'Heading 3' }
                          ]
                    })
                }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock5', {
             
                    controls: editorFullControlls(),
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h3', label: 'Heading 3' }
                          ]
                    })
                }}
                </div>
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock6', {
             
                    controls: editorFullControlls(),
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h3', label: 'Heading 3' }
                          ]
                    })
                }}
                </div>
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock7', {
                     
                    controls: editorFullControlls(),
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h3', label: 'Heading 3' }
                          ]
                    })
                }}
                </div>
                <div class="col-lg-3 text-center">
                {{ aposArea(page, 'linkblock8', {
             
                    controls: editorFullControlls(),
                    styles: [
                            { value: 'p', label: 'Text' },
                            { value: 'h1', label: 'Heading 1' },
                            { value: 'h3', label: 'Heading 3' }
                          ]
                    })
                }}
                </div>   
            </div>
            </div>

        </div>
        <!-- /.row -->

        

        <hr>
    <!-- Page Content -->
{% endblock %}