{% extends "layout.html" %}
{% include "pageMacros.html" %}

{# the bodyClass block allows us to attach a classname to the body tag for easy style-scoping. #}
{# be sure to call super() so that any pages inheriting this one will be appending classes, not overriding them. #}
{% block bodyClass %}{{ super() }} default-page{% endblock %}

{% block main %}
  <div class="container">
  	<div class="row">
  		<div class="col-lg-12" style="min-height:500px">
  			{{ aposArea(page, 'body') }}
			<div class="row">
			   <div class="col-lg-4 col-lg-offset-4">
				<h2>Thank you for your order!</h2>
			   </div>
		        </div>
  		</div>
	</div>
  </div>
{% endblock %}
