.box-container {
    display: flex;
    display: -webkit-flex;
    /* Safari 8 */
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    /* Safari 8 */
    justify-content: center;
    -webkit-justify-content: center;
    /* Safari 8 */
    text-align: center;
}

.box-image-text {
    margin: 10px;
    width: auto;
    max-width: 200px;
    h4 {
        color: #552988;
        font-weight: bold;
    }
}

.box-image {
    width: 200px;
    height: 130px;
    display: inline-block;  
    img {
        border-color: rgb(85, 41, 136);
        border-width: 3px;
        border-style: solid;
        border-radius: 30px;
        display: block;
        resize: both;
        width:200px;
        height:130px;
    }
}

.logged-in-admin {
    .apos-item{
        outline: dashed 1px #fdd;
    }
}


.apos-singleton
{
  min-height: 10px;
}

.previewing
{
  .apos-item{
    outline: 0;
    
  }
  .apos-area,
  .apos-singleton
  {
    .apos-control,
    .apos-ui-container
    {
      display: none;
    }
  }

}

.left{
    text-align: left;
    
}

.anouncment-box{
    
    position:relative;
    background:rgba(255,255,255,0.96);
    padding:15px 35px;
}

@media (min-width: 768px) {
    .anouncment-box{
        border:1px solid #ddd;
        position:absolute;
        border-radius:3px;
        right:10%;
        top:15%;
        max-width:357px;
    }
}




.apos-slideshow-items{
    padding:0;
    margin: 0;
    display: block !important;
    height: auto !important;
}

.apos-area-editable .apos-widget{
    min-height: 14px;
    
}

.nav{li{a {
 padding:10px 13px;
}}}